@media only screen and (max-width: 600px) {
  header {
    grid-area: header;
    background-color: #cbd1d1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; }
  .animate__animated.animate__fadeInDown {
    max-width: 90px;
    --animate-duration: 3s; }
  h1 {
    font-weight: 500;
    font-size: 150%;
    font-family: 'Rowdies', cursive;
    padding-left: 2rem;
    padding-right: 2rem;
    position: relative;
    top: 12rem;
    text-align: center; }
  nav {
    padding: 2rem;
    justify-content: center;
    padding-right: 5px;
    padding-left: 5rem;
    align-content: space-between;
    padding-top: 5rem; }
  ul li a:hover {
    color: #2f96eb; }
  a {
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    font-size: 900;
    color: black;
    justify-content: center;
    padding: 2rem;
    padding-left: 2rem;
    padding-right: 2rem; }
  li {
    background-color: #c2bebe;
    border: 2px solid black;
    text-align: center;
    padding: 1rem; }
  ul {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-top: 1rem;
    list-style: none;
    padding-left: 1rem;
    align-content: center;
    position: relative;
    right: 3rem;
    top: 4rem; } }

@media only screen and (min-width: 600px) {
  header {
    grid-area: header;
    background-color: #cbd1d1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
  .animate__animated.animate__fadeInDown {
    max-width: 130px;
    --animate-duration: 3s; }
  h1 {
    font-weight: 500;
    font-size: 250%;
    font-family: 'Rowdies', cursive;
    position: relative;
    top: 60%;
    padding-left: 2rem;
    text-align: center; }
  nav {
    justify-content: center;
    padding-right: 1rem;
    padding-left: 1rem;
    align-content: center;
    padding-top: 5rem;
    position: relative; }
  a {
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    font-size: 900;
    color: black;
    justify-content: center;
    padding: 20px; }
  li {
    background-color: #c2bebe;
    border: 2px solid black;
    text-align: center; }
  ul li a:hover {
    color: #2f96eb; }
  ul {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    list-style: none;
    align-content: center;
    position: relative;
    right: 2rem;
    top: 1rem; } }

@media only screen and (min-width: 992px) {
  header {
    grid-area: header;
    background-color: #cbd1d1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; }
  .animate__animated.animate__fadeInDown {
    max-width: 150px;
    --animate-duration: 3s; }
  h1 {
    font-weight: 500;
    font-size: 300%;
    font-family: 'Rowdies', cursive;
    text-align: left;
    padding-bottom: 6rem; }
  .animate__animated.animate__bounceInLeft {
    --animate-duration: 3s; }
  nav {
    padding: 2rem;
    justify-content: center;
    padding-right: 5px;
    padding-left: 5rem;
    align-content: space-between;
    padding-top: 5rem; }
  a {
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    font-size: 900;
    color: black;
    justify-content: center;
    padding: 2rem;
    padding-left: 2rem;
    padding-right: 2rem; }
  li {
    background-color: #c2bebe;
    border: 2px solid black;
    text-align: center;
    padding: 2rem; }
  ul li a:hover {
    color: #2f96eb; }
  ul {
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
    padding-top: 5rem;
    list-style: none;
    padding-left: 1rem;
    align-content: center;
    position: relative;
    right: 3rem;
    top: 7rem; } }

@media only screen and (max-width: 600px) {
  h2 {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-family: 'Roboto Slab', serif;
    font-size: 500;
    font-weight: 350;
    text-align: center;
    position: relative;
    top: 4rem; }
  .p-home {
    color: #444769;
    font-size: 400;
    font-family: Arial;
    font-weight: 220;
    padding-left: 7rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
    padding-right: 7rem;
    font-weight: 220;
    padding-left: 2rem;
    padding-bottom: 1rem;
    padding-top: 5rem;
    padding-right: 2rem; }
  main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    background-color: #d8e3ec; }
  .img-main1, img.home1, img.home2, img.home3, .historia-1, .historia-2, .guias1, .guias2, .guias3, .alquiler1, .alquiler2, .contacto1 {
    max-width: 300px;
    padding-top: 3rem; }
  img.home1 {
    position: relative;
    left: 10%; }
  img.home2 {
    position: relative;
    left: 10%; }
  img.home3 {
    position: relative;
    padding-bottom: 7rem;
    left: 10%; }
  .p-historia {
    color: #444769;
    font-size: 400;
    font-family: Arial;
    font-weight: 220;
    padding-left: 7rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
    padding-right: 7rem;
    font-weight: 220;
    padding-left: 3rem;
    padding-bottom: 1rem;
    padding-top: 7rem;
    padding-right: 2rem; }
  .historia-1 {
    position: relative;
    left: 10%; }
  .historia-2 {
    position: relative;
    left: 10%; }
  .guias1 {
    position: relative;
    left: 10%; }
  .guias2 {
    position: relative;
    left: 10%; }
  .guias3 {
    position: relative;
    left: 10%; }
  .p-guias1 {
    color: #444769;
    font-size: 400;
    font-family: Arial;
    font-weight: 220;
    padding-left: 7rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
    padding-right: 7rem;
    font-weight: 220;
    padding-left: 3rem;
    padding-bottom: 1rem;
    padding-top: 9rem;
    padding-right: 2rem; }
  .p-guias2 {
    color: #444769;
    font-size: 400;
    font-family: Arial;
    font-weight: 220;
    padding-left: 7rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
    padding-right: 7rem;
    font-weight: 220;
    padding-left: 3rem;
    padding-bottom: 1rem;
    padding-top: 6rem;
    padding-right: 2rem; }
  .p-guias3 {
    color: #444769;
    font-size: 400;
    font-family: Arial;
    font-weight: 220;
    padding-left: 7rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
    padding-right: 7rem;
    font-weight: 220;
    padding-left: 3rem;
    padding-bottom: 1rem;
    padding-top: 6rem;
    padding-right: 2rem; }
  .p-alquiler1 {
    color: #444769;
    font-size: 400;
    font-family: Arial;
    font-weight: 220;
    padding-left: 7rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
    padding-right: 7rem;
    font-weight: 220;
    padding-left: 3rem;
    padding-bottom: 1rem;
    padding-top: 6rem;
    padding-right: 2rem; }
  .alquiler1 {
    position: relative;
    left: 10%; }
  .p-alquiler2 {
    color: #444769;
    font-size: 400;
    font-family: Arial;
    font-weight: 220;
    padding-left: 7rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
    padding-right: 7rem;
    font-weight: 220;
    padding-left: 3rem;
    padding-bottom: 1rem;
    padding-top: 6rem;
    padding-right: 2rem; }
  .alquiler2 {
    position: relative;
    left: 10%; }
  .p-contacto1 {
    color: #444769;
    font-size: 400;
    font-family: Arial;
    font-weight: 220;
    padding-left: 7rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
    padding-right: 7rem;
    font-weight: 220;
    padding-left: 3rem;
    padding-bottom: 1rem;
    padding-top: 6rem;
    padding-right: 2rem; }
  .contacto1 {
    position: relative;
    left: 1rem; }
  .f-consulta {
    color: #444769;
    font-size: 400;
    font-family: Arial;
    font-weight: 220;
    padding-left: 7rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
    padding-right: 7rem;
    font-weight: 700;
    padding-right: 3rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 3rem;
    display: grid; }
  .nombre {
    margin-bottom: 10rem; } }

@media only screen and (min-width: 600px) {
  h2 {
    padding-left: 5rem;
    padding-right: 3rem;
    padding-bottom: 5rem;
    padding-top: 3rem;
    font-family: 'Roboto Slab', serif;
    font-size: 500;
    font-weight: 350;
    text-align: center;
    position: relative;
    top: 4rem; }
  .p-home {
    color: #444769;
    font-size: 400;
    font-family: Arial;
    font-weight: 220;
    padding-left: 7rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
    padding-right: 7rem;
    font-weight: 220;
    padding-left: 7rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
    padding-right: 6rem; }
  main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    background-color: #d8e3ec; }
  .img-main2, img.home1, img.home2, img.home3, .historia-1, .historia-2, .guias1, .guias2, .guias3, .alquiler1, .alquiler2 {
    max-width: 400px;
    padding-top: 3rem; }
  img.home1 {
    position: relative;
    left: 27%; }
  img.home2 {
    position: relative;
    left: 27%; }
  img.home3 {
    position: relative;
    padding-bottom: 7rem;
    left: 27%; }
  .p-historia {
    color: #444769;
    font-size: 400;
    font-family: Arial;
    font-weight: 220;
    padding-left: 7rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
    padding-right: 7rem;
    font-weight: 220;
    padding-left: 7rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
    padding-right: 6rem; }
  .historia-1 {
    position: relative;
    left: 25%; }
  .historia-2 {
    position: relative;
    left: 25%; }
  .guias1 {
    position: relative;
    left: 27%; }
  .guias2 {
    position: relative;
    left: 27%; }
  .guias3 {
    position: relative;
    left: 27%; }
  .p-guias1 {
    color: #444769;
    font-size: 400;
    font-family: Arial;
    font-weight: 220;
    padding-left: 7rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
    padding-right: 7rem;
    font-weight: 220;
    padding-left: 7rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
    padding-right: 6rem; }
  .p-guias2 {
    color: #444769;
    font-size: 400;
    font-family: Arial;
    font-weight: 220;
    padding-left: 7rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
    padding-right: 7rem;
    font-weight: 220;
    padding-left: 7rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
    padding-right: 6rem; }
  .p-guias3 {
    color: #444769;
    font-size: 400;
    font-family: Arial;
    font-weight: 220;
    padding-left: 7rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
    padding-right: 7rem;
    font-weight: 220;
    padding-left: 7rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
    padding-right: 6rem; }
  .p-alquiler1 {
    color: #444769;
    font-size: 400;
    font-family: Arial;
    font-weight: 220;
    padding-left: 7rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
    padding-right: 7rem;
    font-weight: 220;
    padding-left: 5rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
    padding-right: 4rem; }
  .alquiler1 {
    position: relative;
    left: 27%; }
  .p-alquiler2 {
    color: #444769;
    font-size: 400;
    font-family: Arial;
    font-weight: 220;
    padding-left: 7rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
    padding-right: 7rem;
    font-weight: 220;
    padding-left: 5rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
    padding-right: 4rem; }
  .alquiler2 {
    position: relative;
    left: 27%; }
  .p-contacto1 {
    color: #444769;
    font-size: 400;
    font-family: Arial;
    font-weight: 220;
    padding-left: 7rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
    padding-right: 7rem;
    font-weight: 220;
    padding-left: 7rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
    padding-right: 6rem; }
  .contacto1 {
    padding-bottom: 8rem;
    max-width: 600px;
    position: relative;
    top: 5rem;
    left: 6rem; }
  .f-consulta {
    color: #444769;
    font-size: 400;
    font-family: Arial;
    font-weight: 220;
    padding-left: 7rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
    padding-right: 7rem;
    font-weight: 700;
    padding-right: 11rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 12rem;
    display: grid; }
  .nombre {
    margin-bottom: 10rem; } }

@media only screen and (min-width: 600px) and (min-width: 992px) {
  h2 {
    padding-left: 5rem;
    padding-right: 3rem;
    padding-bottom: 5rem;
    padding-top: 3rem;
    font-family: 'Roboto Slab', serif;
    font-size: 500;
    font-weight: 350;
    text-align: center;
    position: relative;
    top: 4rem; }
  .p-home {
    color: #444769;
    font-size: 40px;
    font-family: Arial;
    font-weight: 220;
    padding-left: 7rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
    padding-right: 7rem;
    font-weight: 50px;
    padding-left: 7rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
    padding-right: 7rem; }
  main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    background-color: #d8e3ec; }
  .img-main3, img.home1, img.home2, img.home3, .guias1, .guias2, .guias3, .alquiler1, .alquiler2 {
    max-width: 600px;
    padding-top: 3rem; }
  img.home1 {
    position: relative;
    left: 33%; }
  img.home2 {
    position: relative;
    left: 33%; }
  img.home3 {
    position: relative;
    padding-bottom: 7rem;
    left: 33%; }
  .p-historia {
    color: #444769;
    font-size: 400;
    font-family: Arial;
    font-weight: 220;
    padding-left: 7rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
    padding-right: 7rem;
    font-weight: 220;
    padding-left: 7rem;
    padding-bottom: 4rem;
    padding-top: 4rem;
    padding-right: 7rem; }
  .historia-1 {
    max-width: 700px;
    padding-right: 6rem;
    padding-left: 7rem; }
  .historia-2 {
    max-width: 700px;
    padding-right: 6rem;
    padding-left: 7rem;
    padding-bottom: 5rem; }
  .guias1 {
    position: relative;
    left: 33%; }
  .guias2 {
    position: relative;
    left: 33%; }
  .guias3 {
    padding-right: 5rem;
    padding-left: 5rem;
    position: relative;
    left: 35%; }
  .p-guias1 {
    padding-top: 3rem;
    padding-right: 6rem;
    padding-left: 6rem;
    padding-bottom: 4rem;
    color: #444769;
    font-size: 400;
    font-family: Arial;
    font-weight: 220;
    padding-left: 7rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
    padding-right: 7rem;
    font-weight: 220;
    position: relative; }
  .p-guias2 {
    padding-top: 3rem;
    padding-right: 6rem;
    padding-left: 6rem;
    color: #444769;
    font-size: 400;
    font-family: Arial;
    font-weight: 220;
    padding-left: 7rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
    padding-right: 7rem;
    font-weight: 220;
    position: relative; }
  .p-guias3 {
    padding-top: 3rem;
    padding-right: 6rem;
    padding-left: 6rem;
    color: #444769;
    font-size: 400;
    font-family: Arial;
    font-weight: 220;
    padding-left: 7rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
    padding-right: 7rem;
    font-weight: 220;
    position: relative; }
  .p-alquiler1 {
    padding-top: 6rem;
    padding-right: 6rem;
    padding-left: 6rem;
    padding-bottom: 4rem;
    color: #444769;
    font-size: 400;
    font-family: Arial;
    font-weight: 220;
    padding-left: 7rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
    padding-right: 7rem;
    font-weight: 220;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 7rem; }
  .alquiler1 {
    padding-top: 5rem; }
  .p-alquiler2 {
    color: #444769;
    font-size: 400;
    font-family: Arial;
    font-weight: 220;
    padding-left: 7rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
    padding-right: 7rem;
    font-weight: 220;
    position: relative;
    padding-top: 7rem; }
  .alquiler2 {
    padding-top: 5rem; }
  .p-contacto1 {
    color: #444769;
    font-size: 400;
    font-family: Arial;
    font-weight: 220;
    padding-left: 7rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
    padding-right: 7rem;
    font-weight: 220;
    padding-left: 6rem;
    padding-right: 5rem;
    padding-top: 5rem; }
  .contacto1 {
    padding-top: 2rem;
    padding-bottom: 8rem;
    padding-left: 12%;
    padding-right: 3%;
    max-width: 900px;
    position: relative;
    top: 5rem; }
  .f-consulta {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 220;
    font-weight: 700;
    padding-right: 11rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 12rem;
    display: grid; }
  .nombre {
    margin-bottom: 10rem; } }

@media only screen and (max-width: 600px) {
  footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    background-color: #adb1b1;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem; }
  p.powered {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-size: 11px;
    padding-left: 1rem;
    padding-top: 1rem;
    position: relative;
    right: 27%; }
  p.rights {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-size: 11px;
    padding-left: 1rem;
    position: relative;
    right: 30%; }
  .facebook {
    max-width: 30px;
    position: relative;
    left: 11%;
    bottom: 4.5%; }
    .facebook:hover {
      transform: translate(5px, 20px);
      transition: all 3s; }
  .instagram {
    max-width: 30px;
    position: relative;
    left: 26%;
    bottom: 24%; }
    .instagram:hover {
      transform: translate(5px, 20px);
      transition: all 3s; }
  .twitter {
    max-width: 30px;
    position: relative;
    left: 42%;
    bottom: 45%; }
    .twitter:hover {
      transform: translate(5px, 20px);
      transition: all 3s; } }

@media only screen and (min-width: 600px) {
  footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    background-color: #adb1b1;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem; }
  p.powered {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-size: 15px;
    padding-left: 1rem;
    padding-top: 1rem;
    position: relative;
    right: 33%;
    bottom: 1rem; }
  p.rights {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-size: 15px;
    padding-left: 1rem;
    position: relative;
    right: 35%;
    bottom: 1rem; }
  .facebook {
    max-width: 40px;
    position: relative;
    left: 32%;
    top: 3%; }
    .facebook:hover {
      transform: translate(5px, 20px);
      transition: all 3s; }
  .instagram {
    max-width: 40px;
    position: relative;
    left: 38.5%;
    bottom: 15%; }
    .instagram:hover {
      transform: translate(5px, 20px);
      transition: all 3s; }
  .twitter {
    max-width: 40px;
    position: relative;
    left: 45%;
    bottom: 35%; }
    .twitter:hover {
      transform: translate(5px, 20px);
      transition: all 3s; } }

@media only screen and (min-width: 992px) {
  footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    background-color: #adb1b1;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem; }
  p.powered {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-size: 15px;
    padding-left: 1rem;
    padding-top: 1rem;
    position: relative;
    right: 40%;
    bottom: 1rem; }
  p.rights {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-size: 15px;
    padding-left: 1rem;
    position: relative;
    right: 41%;
    bottom: 1rem; }
  .facebook {
    max-width: 50px;
    position: relative;
    left: 39%;
    top: 5%; }
    .facebook:hover {
      transform: translate(5px, 20px);
      transition: all 1s; }
  .instagram {
    max-width: 50px;
    position: relative;
    left: 43%;
    bottom: 14%; }
    .instagram:hover {
      transform: translate(5px, 20px);
      transition: all 1s; }
  .twitter {
    max-width: 50px;
    position: relative;
    left: 47%;
    bottom: 36; }
    .twitter:hover {
      transform: translate(5px, 20px);
      transition: all 1s; } }

.grilla1 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 750px 2500px 300px;
  grid-template-areas: "header"  "main" "footer"; }
