

@import"./variables.scss";



@media only screen and (max-width:600px) {



    
    
    h2 {
    
    
        padding-left:1rem;
        padding-right:1rem;
        padding-bottom:1rem;
        padding-top: 1rem;
        
    
        font-family: 'Roboto Slab', serif;
    
        font-size: 500;
        font-weight: 350;
        text-align: center;
        position: relative;
        top:4rem;

    }

    @mixin estiloparrafo1 ($colorletra,$tamanioletra,$familialetra) {

        color: $colorletra;
        font-size: $tamanioletra;
        font-family: $familialetra;
        font-weight:220;
        padding-left:7rem;
        padding-bottom:3rem; 
        padding-top:5rem;
        padding-right:7rem;

    }

    
    
    .p-home{ 

        @include estiloparrafo1 (rgb(68, 71, 105), 400, Arial,);
        font-weight:220;
        padding-left:2rem;
        padding-bottom:1rem; 
        padding-top: 5rem;
        padding-right:2rem;
    
    }
    
    main{
    
    grid-area:main;
    
    display: flex;
    flex-direction: column;
    background-color:rgb(216, 227, 236);

    }

    .img-main1 {

    max-width:300px;
    padding-top: 3rem;
    }


    img.home1{
    
        @extend.img-main1;
        position: relative;
        left:10%;
    }
    
    img.home2{
    
        @extend.img-main1;
        position: relative;
        left:10%;
    
    
    }
    
    img.home3{
    
        @extend.img-main1;
        position: relative;
        padding-bottom: 7rem;
        left:10%;

    }
    
    
    .p-historia{
        @include estiloparrafo1 (rgb(68, 71, 105), 400, Arial,);
        font-weight:220;
        padding-left:3rem;
        padding-bottom:1rem; 
        padding-top: 7rem;
        padding-right:2rem;
    }



    .historia-1{
    
        @extend.img-main1;
        position: relative;
        left:10%;



    &:hover{

        transform:scale(1.1,1.1);
        transition: all 3s;}

    
    }
    
    
    
    .historia-2{
    
        @extend.img-main1;
        position: relative;
        left:10%;

    &:hover{

        transform:scale(1.1,1.1);
        transition: all 3s;}
    
    
    }  

    .guias1{

        @extend.img-main1;
        position: relative;
        left:10%;


        &:hover{

        transform:scale(1.1,1.1);
        transition: all 3s;}

    
    }
    
    .guias2{
    
        
        @extend.img-main1;
        position: relative;
        left:10%;

    &:hover{

        transform:scale(1.1,1.1);
        transition: all 3s;}
        

    
    
    }
    
    
    .guias3{

        @extend.img-main1;
        position: relative;
        left:10%;

    &:hover{

        transform:scale(1.1,1.1);
        transition: all 3s;}
    
    }
    
    .p-guias1{

        @include estiloparrafo1 (rgb(68, 71, 105), 400, Arial,);
        font-weight:220;
        padding-left:3rem;
        padding-bottom:1rem; 
        padding-top: 9rem;
        padding-right:2rem;

    }



    
    .p-guias2{

        @include estiloparrafo1 (rgb(68, 71, 105), 400, Arial,);
        font-weight:220;
        padding-left:3rem;
        padding-bottom:1rem; 
        padding-top: 6rem;
        padding-right:2rem;
    }
    
    .p-guias3{

        @include estiloparrafo1 (rgb(68, 71, 105), 400, Arial,);
        font-weight:220;
        padding-left:3rem;
        padding-bottom:1rem; 
        padding-top: 6rem;
        padding-right:2rem;
        
        
    }
    
    
    .p-alquiler1{

        @include estiloparrafo1 (rgb(68, 71, 105), 400, Arial,);
        font-weight:220;
        padding-left:3rem;
        padding-bottom:1rem; 
        padding-top: 6rem;
        padding-right:2rem;

    }
    
    .alquiler1{
    
        @extend.img-main1;
        position: relative;
        left:10%;

    &:hover{

        transform:scale(1.1,1.1);
        transition: all 3s;}
    
    }
    
    .p-alquiler2{
    
    @include estiloparrafo1 (rgb(68, 71, 105), 400, Arial,);
    font-weight:220;
    padding-left:3rem;
    padding-bottom:1rem; 
    padding-top: 6rem;
    padding-right:2rem; }

    
    .alquiler2{
        
        @extend.img-main1;
        position: relative;
        left:10%;

    &:hover{

        transform:scale(1.1,1.1);
        transition: all 3s;}
    
    
    }    

    .p-contacto1{
    
        @include estiloparrafo1 (rgb(68, 71, 105), 400, Arial,);
        font-weight:220;
        padding-left:3rem;
        padding-bottom:1rem; 
        padding-top: 6rem;
        padding-right:2rem; 
    
    
    }
    
    .contacto1{

        @extend.img-main1;
        position: relative;
        left:1rem;
    
    
    }

    .f-consulta{
    
        @include estiloparrafo1 (rgb(68, 71, 105), 400, Arial,);
        font-weight: 700;
        padding-right:3rem;
        padding-top:4rem;
        padding-bottom:4rem;
        padding-left: 3rem;
        
        display:grid;
        
        
    }   
    
    
    .nombre{
    
    margin-bottom: 10rem;}
}































































@media only screen and (min-width:600px){


    h2 {
    
    
        padding-left:5rem;
        padding-right:3rem;
        padding-bottom:5rem;
        padding-top: 3rem;
        
    
        font-family: 'Roboto Slab', serif;
    
        font-size: 500;
        font-weight: 350;
        text-align: center;
        position: relative;
        top:4rem;

    }


    @mixin estiloparrafo2 ($colorletra,$tamanioletra,$familialetra) {

        color: $colorletra;
        font-size: $tamanioletra;
        font-family: $familialetra;
        font-weight:220;
        padding-left:7rem;
        padding-bottom:3rem; 
        padding-top:5rem;
        padding-right:7rem;

    }
    
    .p-home{ @include estiloparrafo2 (rgb(68, 71, 105), 400, Arial,);
        font-weight:220;
        padding-left:7rem;
        padding-bottom:3rem; 
        padding-top:5rem;
        padding-right:6rem;
    
    }
    


    main{
    
    grid-area:main;
    
    display: flex;
    flex-direction: column;
    background-color:rgb(216, 227, 236);

    }
    
    .img-main2{

        max-width:400px;
        padding-top: 3rem;
    }


    img.home1{ 

    @extend.img-main2;

    position: relative;

    left:27%;
    
    }
    
    img.home2{
    
        
        @extend.img-main2;
        position: relative;
        left:27%;
    
    
    }
    
    img.home3{
    
        
        
        @extend.img-main2;
        position: relative;
        padding-bottom: 7rem;
        left:27%;

        
    
    
    
    }
    
    
    .p-historia{

        @include estiloparrafo2 (rgb(68, 71, 105), 400, Arial,);
        font-weight:220;
        padding-left:7rem;
        padding-bottom:3rem; 
        padding-top:5rem;
        padding-right:6rem;

    }



    .historia-1{
    
        
    @extend.img-main2;
    position: relative;
    left:25%;

    &:hover{

    transform:scale(1.1,1.1);
    transition: all 3s;}
        
    
    }
    
    
    
    .historia-2{
    
        
        @extend.img-main2;
        position: relative;
        left:25%;

        &:hover{

        transform:scale(1.1,1.1);
        transition: all 3s;}
        

    }
    



    .guias1{

        
        @extend.img-main2;
        position: relative;
        left:27%;

        &:hover{

        transform:scale(1.1,1.1);
        transition: all 3s;}

    }
    
    .guias2{
    
        
        @extend.img-main2;
        position: relative;
        left:27%;

        &:hover{

        transform:scale(1.1,1.1);
        transition: all 3s;}
        

    
    
    }
    
    
    .guias3{
    

        @extend.img-main2;
        position: relative;
        left:27%;

        &:hover{

        transform:scale(1.1,1.1);
        transition: all 3s;}
        

        
    
    }
    
    .p-guias1{

        @include estiloparrafo2 (rgb(68, 71, 105), 400, Arial,);
        font-weight:220;
        padding-left:7rem;
        padding-bottom:3rem; 
        padding-top:5rem;
        padding-right:6rem;

    }



    
    .p-guias2{

        @include estiloparrafo2 (rgb(68, 71, 105), 400, Arial,);
        font-weight:220;
        padding-left:7rem;
        padding-bottom:3rem; 
        padding-top:5rem;
        padding-right:6rem;

    }
    
    .p-guias3{

        @include estiloparrafo2 (rgb(68, 71, 105), 400, Arial,);
        font-weight:220;
        padding-left:7rem;
        padding-bottom:3rem; 
        padding-top:5rem;
        padding-right:6rem;
        
        
    }
    
    
    .p-alquiler1{

        @include estiloparrafo2 (rgb(68, 71, 105), 400, Arial,);
        font-weight:220;
        padding-left:5rem;
        padding-bottom:3rem; 
        padding-top:5rem;
        padding-right:4rem;
    
    }
    
    .alquiler1{
    
        @extend.img-main2;
        position: relative;
        left:27%;


        &:hover{

        transform:scale(1.1,1.1);
        transition: all 3s;}

    }
    
    
    
    .p-alquiler2{
    
        @include estiloparrafo2 (rgb(68, 71, 105), 400, Arial,);
        font-weight:220;
        padding-left:5rem;
        padding-bottom:3rem; 
        padding-top:5rem;
        padding-right:4rem;
    }

    
    .alquiler2{
        
    
        
        @extend.img-main2;
        position: relative;
        left:27%;

        &:hover{

        transform:scale(1.1,1.1);
        transition: all 3s;}

    }
    
    
    
    
    .p-contacto1{
    
        @include estiloparrafo2 (rgb(68, 71, 105), 400, Arial,);
        font-weight:220;
        padding-left:7rem;
        padding-bottom:3rem; 
        padding-top:5rem;
        padding-right:6rem;
    
    
    }
    
    .contacto1{

        
        padding-bottom:8rem;
        max-width:600px;
        position: relative;
        top:5rem;
        left:6rem;
    
    
    }
    
    .f-consulta{
    
        @include estiloparrafo2 (rgb(68, 71, 105), 400, Arial,);
        font-weight: 700;
    
        padding-right:11rem;
        padding-top:4rem;
        padding-bottom:4rem;
        padding-left:12rem;
        
        display:grid;
        
        
    }   
    
    
    .nombre{
        margin-bottom: 10rem;
    

}




























































@media only screen and (min-width:992px){

    h2 {
        
        
        padding-left:5rem;
        padding-right:3rem;
        padding-bottom:5rem;
        padding-top: 3rem;
        
    
        font-family: 'Roboto Slab', serif;
    
        font-size: 500;
        font-weight: 350;
        text-align: center;
        position: relative;
        top:4rem;

    }

    @mixin estiloparrafo3 ($colorletra,$tamanioletra,$familialetra) {

        color: $colorletra;
        font-size: $tamanioletra;
        font-family: $familialetra;
        font-weight:220;
        padding-left:7rem;
        padding-bottom:3rem; 
        padding-top:5rem;
        padding-right:7rem;

    }
    
    .p-home{ 

        @include estiloparrafo3 (rgb(68, 71, 105), 40px, Arial,);
        font-weight: 50px;
        padding-left:7rem;
        padding-bottom:3rem; 
        padding-top:5rem;
        padding-right:7rem;
    
    }
    
    main{
    
    grid-area:main;
    
    display: flex;
    flex-direction: column;
    background-color:rgb(216, 227, 236);

    }
    
    .img-main3{

    max-width:600px;
    padding-top: 3rem;

    }


    img.home1{
    

    @extend.img-main3;
    position: relative;
    left:33%;
    }
    
    img.home2{
    
    @extend.img-main3;
    position: relative;
    left:33%;
    
    
    }
    
    img.home3{
    
        
    @extend.img-main3;
    position: relative;
    padding-bottom: 7rem;
    left:33%;

        
    
    
    
    }
    
    
    
    
    .p-historia{

    @include estiloparrafo3 (rgb(68, 71, 105), 400, Arial,);   
    font-weight:220;
    padding-left:7rem;
    padding-bottom:4rem; 
    padding-top:4rem;
    padding-right:7rem;

    }


    .historia-1{

    max-width:700px;
    padding-right:6rem;
    padding-left:7rem;


    &:hover{

    transform:scale(1.1,1.1);
    transition: all 3s;}
    
    
    }
    
    
    
    .historia-2{

    max-width:700px;
    padding-right:6rem;
    padding-left:7rem;
    padding-bottom:5rem;

    &:hover{

    transform:scale(1.1,1.1);
    transition: all 3s;}
    
    }
    



    .guias1{

    @extend.img-main3;
    position: relative;
    left: 33%;

    &:hover{

    transform:scale(1.1,1.1);
    transition: all 3s;}
    
    }
    
    .guias2{
    
    

    @extend.img-main3;
    position: relative;
    left: 33%;

    &:hover{

    transform:scale(1.1,1.1);
    transition: all 3s;}

    }
    
    
    .guias3{
    
    @extend.img-main3;
    padding-right: 5rem;
    padding-left:5rem ;
    position: relative;
    left: 35%;

    &:hover{

    transform:scale(1.1,1.1);
    transition: all 3s;}
    
    }
    
    .p-guias1{
    padding-top: 3rem;
    padding-right: 6rem;
    padding-left:6rem ;
    padding-bottom: 4rem;
    
    @include estiloparrafo3 (rgb(68, 71, 105), 400, Arial,);
    font-weight:220;
    position: relative; 

    }



    
    .p-guias2{

    padding-top: 3rem;
    padding-right: 6rem;
    padding-left:6rem ;
    @include estiloparrafo3 (rgb(68, 71, 105), 400, Arial,);
    font-weight:220;
    position: relative;   
    }
    
    .p-guias3{

    padding-top: 3rem;
    padding-right: 6rem;
    padding-left:6rem;

    @include estiloparrafo3 (rgb(68, 71, 105), 400, Arial,);
    font-weight:220;
    position: relative;
    
    
    }
    
    
    .p-alquiler1{

    padding-top: 6rem;
    padding-right: 6rem;
    padding-left:6rem;
    padding-bottom: 4rem;
    @include estiloparrafo3 (rgb(68, 71, 105), 400, Arial,);
    font-weight:220;
    padding-left:6rem;
    padding-right:6rem;
    padding-top:7rem;
    
    }
    
    .alquiler1{
    
    
    @extend.img-main3;
    padding-top:5rem;

    &:hover{

    transform:scale(1.1,1.1);
    transition: all 3s;}
    
    
    }
    
    .p-alquiler2{
    
    @include estiloparrafo3 (rgb(68, 71, 105), 400, Arial,);
    font-weight:220;
    position: relative;
    padding-top:7rem;
    }
    
    .alquiler2{
    
    @extend.img-main3;
    padding-top:5rem;

    &:hover{

    transform:scale(1.1,1.1);
    transition: all 3s;}
    
    }
    
    .p-contacto1{
    
    @include estiloparrafo3 (rgb(68, 71, 105), 400, Arial,);
    font-weight:220;
    padding-left:6rem;
    padding-right:5rem;
    padding-top: 5rem;
    
    }
    
    .contacto1{

    padding-top: 2rem;
    padding-bottom:8rem;
    padding-left:12%;
    padding-right:3%;
    max-width:900px;
    position: relative;
    top:5rem;
    
    
}
    
    .f-consulta{
    
    font-family: Arial, Helvetica, sans-serif;
    font-size:220;
    font-weight: 700;
    
    padding-right:11rem;
    padding-top:4rem;
    padding-bottom:4rem;
    padding-left:12rem;
    
    display:grid; 
    }   
    
    
    .nombre{
    
    margin-bottom: 10rem;}



}


}